/win-x64/.identifier
/win-x64/.assets
/win-x64/Logs
/win-x64/CERTIFICATE.cer
/win-x64/CERTIFICATE.key
/win-x64
/linux-arm64
/linux-musl-arm64
/linux-musl-x64
/linux-x64
/osx-arm64
/osx-x64
/win-arm64
